<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Dashboard</h4>
  </div>

</div>

<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
     

      <div class="col-md-4 grid-margin stretch-card">
        <div class="card border-1 border-dark">
          <div class="card-body">
            <div class="text-center">
              <h6 class="card-title mb-2"  ><a href="compte/admin/utilisateurs">utilisateurs</a> </h6>
              <h3 class="mb-2">{{usersLength}}</h3>
            </div>
          
          </div>
        </div>
      </div>
    
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card border-1 border-dark">
          <div class="card-body">
            <div class="text-center">
              <h6 class="card-title mb-2"> <a href="compte/admin/utilisateurs?role=PARTICIPANT">Participants</a></h6>
              <h3 class="mb-2"> <p>{{participantsLength}}</p></h3>
            </div>
          
          </div>
        </div>
      </div>


      <div class="col-md-4 grid-margin stretch-card">
        <div class="card border-1 border-dark">
          <div class="card-body">
            <div class="text-center">
              <h6 class="card-title mb-2"><a href="compte/admin/utilisateurs?role=FOURNISSEUR">Fournisseurs</a></h6>
              <h3 class="mb-2"> <p>{{fournisseursLength}}</p></h3>
            </div>
          
          </div>
        </div>
      </div>

      <div class="col-md-4 grid-margin stretch-card">
        <div class="card border-1 border-dark">
          <div class="card-body">
            <div class="text-center">
              <h6 class="card-title mb-2"><a href="compte/admin/utilisateurs?role=ORGANISATEUR">Organisateurs</a></h6>
              <h3 class="mb-2"> <p>{{organisateursLength}}</p></h3>
            </div>
          
          </div>
        </div>
      </div>



      <div class="col-md-4 grid-margin stretch-card">
        <div class="card border-1 border-dark">
          <div class="card-body">
            <div class="text-center">
              <h6 class="card-title mb-2"><a href="compte/admin/utilisateurs?role=SPONSOR">Sponsors</a></h6>
              <h3 class="mb-2"> <p>{{sponsorsLength}}</p></h3>
            </div>
          
          </div>
        </div>
      </div>







      <div class="col-md-4 grid-margin stretch-card">
        <div class="card border-1 border-dark">
          <div class="card-body">
            <div class="text-center">
              <h6 class="card-title mb-2"><a href="compte/admin/utilisateurs?role=STAFF">Logistique</a></h6>
              <h3 class="mb-2">{{LogistiqueLength}}</h3>
            </div>
          
          </div>
        </div>
      </div>

      <div class="col-md-4 grid-margin stretch-card " >
        <div class="card border-1 border-dark">
          <div class="card-body">
            <div class="text-center">
              <h6 class="card-title mb-2"><a href="compte/admin/evenements">événements</a></h6>
              <h3 class="mb-2">{{EventsLength}}</h3>
            </div>
          
          </div>
        </div>
      </div>

      <div class="col-md-4 grid-margin stretch-card " >
        <div class="card border-1 border-dark">
          <div class="card-body">
            <div class="text-center">
              <h6 class="card-title mb-2"><a href="compte/admin/sponsoring">Dossiers sponsoring</a></h6>
              <h3 class="mb-2">{{DossierSponsoringLength}}</h3>
            </div>
          
          </div>
        </div>
      </div>

      <div class="col-md-4 grid-margin stretch-card " >
        <div class="card border-1 border-dark">
          <div class="card-body">
            <div class="text-center">
              <h6 class="card-title mb-2"><a href="compte/admin/sponsoring">Packs</a></h6>
              <h3 class="mb-2">0</h3>
            </div>
          
          </div>
        </div>
      </div>


    </div>
  </div>
</div> <!-- row -->


