
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/mon-compte">Compte</a></li>
      <li class="breadcrumb-item active" aria-current="page">Participations</li>
    </ol>
  </nav>


  <div class=" card border border-2 border-dark mb-4"  *ngFor="let participation of participations">
	
	<div class="card-body">
		<h5 class="mb-2 text-primary" type="button" routerLink="/event/{{participation.evenement.idEvent}}"> {{ participation.evenement.nom }}<span class="float-end">Date de participation : {{ participation.date| date: 'dd/MM/yyyy'}}</span></h5>
		
        
        <p>{{ participation.evenement.lieu }}</p>
     
	</div>
   
    

</div>